body{
  font-size:25px;
}
.login{

  font-size: 0.50em;
}
.thanks{
  background:#595238;
  color: #1dd3bd;
}
.jumbo{
  background-color: #faae7b;
  color: #432371;
}
.butt{
  background-color: #faae7b
}
.login1{
  background-color: #ff930f;
}
.thankss{
  background-color: #f1515e
}
